<tr>
  <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
    padding-top: 20px;
    padding-bottom: 20px;">

    <!-- PREHEADER -->
    <!-- Set text color to background color -->
    <a style="text-decoration: none;"><img id="logo" src="https://ahduni.edu.in/assets/images/logo-ahmedabad-university.png" border="0" vspace="0" hspace="0"
      alt="Logo" title="Logo" style="color: #000000;" width="150px">
  </td>
</tr>
